@model SimpleDictionary.Models.ViewModels.PasswordResetViewModel
@{
    ViewBag.Title = "New password";
}

<form asp-action="ResetPassword" asp-controller="Account" class="form-absolute-center" style="width: 240px; margin: 0 auto;" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Token" />
    <div class="row col s12">
        <div class="input-field">
            <label asp-for="Email"></label>
            <input asp-for="Email" />
        </div>
    </div>
    <div class="row col s12">
        <div class="input-field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
    </div>
    <div class="row col s12">
        <div class="input-field">
            <label asp-for="PasswordConfirm"></label>
            <input asp-for="PasswordConfirm" />
        </div>
    </div>
    <div class="row col s12">   
        <input type="submit" class="btn" />
    </div>
</form>


